.content{
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}
.title h3{
    word-break: break-word;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 30%;
    border-radius: 15px;
    padding: 10px;
    border: none;

    background-color: #fff;
    cursor: pointer;
}
.navigation > label {
    cursor: pointer;
}
.arrow{
    margin-left: 5px;
    height: 30px;
    transition: 0.3s ease-in-out;
}
.arrow_forward{
    transform: rotateY(180deg);
}

/*SWITCH CSS TRANSITION*/
.fade-enter {
    opacity: 0;
    transform: translateX(-100%);
}
.fade-enter-active {
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit {
    opacity: 1;
    transform: translateX(0%);
}
.fade-exit-active {
    opacity: 0;
    transform: translateX(-100%);
}
.fade-enter-active,
.fade-exit-active {
    transition: opacity 500ms , transform 500ms ;
}