.card{
    position: relative;
}

main{
    z-index: 0;
    position: relative;
    overflow-y: auto;
    height: 70vh;
}

.buttonAddCategory{
    z-index: 5;
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.category_main{
    overflow-x: hidden;
}

