.svg_container .chart{
    height: 100%;
    width: 100%;
}
.svg_container{
    margin: 10px 10px;
    position: relative;
}

.labelPlaceholder{
    position: absolute;
    left: 30%;
    top: 30%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 24px;

    width: 40%;
    height: 40%;
}
.label{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.label label{
    text-align: center;
    margin: 0;
}

.unit {
    fill: none;
    stroke-width: 5;
    cursor: pointer;

    animation-name: render;
    animation-duration: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
}

.unit:hover,
.hovered {
    opacity: 0.8;
    stroke-width: 7;
}

.main_container{
    overflow: hidden;
}